.activity-content:hover{
  border: 2px solid #F4E3CF;
}

.triangle-wrapper{
    cursor: pointer;
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

.activity-content:hover .triangle-wrapper{
    display: block;
}

.triangle{
    position: relative;
    width: 0;
    height: 0;
    border: 12px solid #F4E3CF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}